@import '../admin-config/admin-config.component.css';

mat-card {
  width: 450px;
}

form {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  color: rgb(113, 79, 76);
}

mat-card {
  background-color: rgb(255, 255, 255, 0.6) !important;
  box-shadow: 3px 5px 25px rgb(56, 53, 53) !important;
  margin-left: 50px;
}

@media only screen and (max-width: 630px) {
  mat-card {
    margin: auto;
    width: 90%;
  }
}
