<div class="container-fluid mt-5 mb-5">
  <mat-card>
    <mat-card-content>
      <h3 class="muli">Delete Tool</h3>
      <form #f="ngForm" (ngSubmit)="onToolDelete(f.value)">
        <mat-form-field class='mb-4'>
          <mat-label>Select tool to delete</mat-label>
          <mat-select ngModel name="tool">
            <mat-option *ngFor="let tool of tools" [value]="tool">
              {{ tool.toolName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button>Delete Tool</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
