<table mat-table [dataSource]="resos" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> {{'Date' | uppercase }} </th>
    <td mat-cell *matCellDef="let element"> {{element.reservationStartTime | date }} </td>
  </ng-container>

  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef> {{ 'Start Time' | uppercase }} </th>
    <td mat-cell *matCellDef="let element"> {{element.reservationStartTime | date:'shortTime'}} </td>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef> {{'End Time' | uppercase}} </th>
    <td mat-cell *matCellDef="let element"> {{element.reservationEndTime | date:'shortTime'}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> {{'Edit Reservation' | uppercase}} </th>
    <td mat-cell *matCellDef="let element"><i (click)="onEditReso(element)" class='material-icons'>edit</i> </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> {{'Delete Reservation' | uppercase}} </th>
    <td mat-cell *matCellDef="let element"><i (click)="onDeleteReso(element)" class='material-icons'>delete_forever</i></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr appReservationHighlight [highlightColor]="'rgb(255, 255, 255)'" [defaultColor]="''" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
