.mat-header-cell {
  text-align: center;
  padding: 0;
  color: white;
}

mat-header-cell, mat-cell {
  justify-content: center;
  flex: 0 0 200px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
}

/* offsets the header by the same amount of size/padding the sort button occupies */
.mat-sort-header-container {
  margin-left: 18px;
}

.mat-header-row {
  background-color: rgb(196, 161, 121, 0.75);
}

.mat-row, .mat-header-row {
  border-bottom-width: 0px;
}

table {
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.30);
  box-shadow: 6px 10px 25px rgb(48, 44, 44) !important;
}

mat-table {
  overflow-x: scroll;
}

.mat-column-date {
  word-wrap: break-word !important;
  white-space: unset !important;
  /* flex: 0 0 25% !important; */
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mat-column-startTime {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mat-column-endTime {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mat-column-edit {
  width: 20% !important;
}

.mat-column-delete {
  width: 20% !important;
}

@media only screen and (max-width: 770px) {
  mat-table {
    width: 100% !important;
    margin: 0 !important;
  }
}
