@import '../admin-config/admin-config.component.css';

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  display: flex !important;
  flex-direction: column !important;
}

.block {
  display: block;
}

.inline {
  display: inline !important;
}

mat-card {
  width: 450px;
  background-color: rgb(255, 255, 255, 0.6) !important;
  margin-left: 50px;
  box-shadow: 3px 5px 25px rgb(56, 53, 53) !important;
}

@media only screen and (max-width: 630px) {
  mat-card {
    margin: auto;
    width: 90%;
  }
}

h3 {
  text-align: center;
}
