<div class="container-fluid mt-5">
  <mat-card>
    <mat-card-content>
      <h3 class='muli'>Add Tool</h3>
      <form #f="ngForm" (ngSubmit)="onAddTool(f.value); f.reset();">
        <mat-form-field>
          <label for="toolName" class="block">Tool Name:</label>
          <input matInput type="text" id="toolName" name="toolName" ngModel />
        </mat-form-field>
        <mat-form-field>
          <label for="toolDescription" class="block">Tool Description</label>
          <textarea
            matInput
            name="toolDescription"
            id="toolDescription"
            cols="30"
            rows="5"
            name="toolDescription"
            ngModel
          ></textarea>
        </mat-form-field>

        <mat-checkbox
          id="userNeedsCert"
          name="userNeedsCert"
          class='inline mb-4'
          ngModel
        >Needs Certification</mat-checkbox>

        <button mat-raised-button>Add Tool</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
