@import '../admin-config/admin-config.component.css';

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  display: flex !important;
  flex-direction: column !important;
}

.block {
  display: block;
}

button {
  background-color: rgb(194, 168, 154);
}

.inline {
  display: inline !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgba(168, 101, 61, 0.993) !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(168, 101, 61, 0.993) !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: rgba(168, 101, 61, 0.993) !important;
}

mat-card {
  margin: 0 !important;
  width: 400px;
  background-color: rgb(255, 255, 255) !important;
  margin-left: 50px;
}

@media only screen and (max-width: 630px) {
  mat-card {
    margin: auto;
    width: 90%;
  }
}

h3 {
  text-align: center;
  color: rgb(77, 57, 50);
}
