@import '../admin-config/admin-config.component.css';

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  display: flex !important;
  flex-direction: column !important;
}

.block {
  display: block;
}

button {
  background-color: rgb(253, 251, 250);
}

.inline {
  display: inline !important;
}

mat-card {
  margin: 0 !important;
  width: 400px;
  background-color: rgb(255, 255, 255) !important;
  margin-left: 50px;
}

mat-card-content {
  margin: 25px !important;
}

@media only screen and (max-width: 630px) {
  mat-card {
    margin: auto;
    width: 90%;
  }
}

h3 {
  text-align: center;
  color: rgb(77, 57, 50);
}
