.inline-block {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.mat-select {
  width: 100%;
}

mat-card {
  width: 500px;
  margin: auto;
  height: 350px;
  background-color: rgb(255, 255, 255, 0.60);
  box-shadow: 3px 5px 25px rgb(56, 53, 53) !important;
}

mat-form-field {
  margin: 0;
  width: 100%;
  display: block;
}

h2 {
  text-align: center;
  color: rgb(192, 133, 39);
}

.muli {
  font-family: 'Muli';
}

.container-fluid {
  background: url(../../../assets/handyman-background.jpg);
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  width: 100% !important;
}
