.inline-block {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: auto;
}

.mat-select {
  width: 100%;
}

mat-card {
  width: 500px;
  margin: auto;
  height: 350px
}

mat-form-field {
  margin: 0;
  width: 100%;
  display: block;
}

h2 {
  text-align: center;
}

.muli {
  font-family: 'Muli';
}

.container {
  background: url(../../../assets/handyman-background.jpg);
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

