<h1 mat-dialog-title>{{ 'select time to reserve' | uppercase }}</h1>
<p class='mb-4'>{{ toolName + ':  ' | uppercase }}{{ reservationDate | date:'fullDate' | uppercase }}</p>
<button mat-raised-button mat-dialog-close class="mb-5 submit">{{ 'cancel' | uppercase }}</button>
<mat-dialog-content>
  <button (click)="addReservationTime(timeSlot)" [disabled]='hasReservation(toolId, reservationDate, timeSlot)' *ngFor='let timeSlot of timeSlots' class='mb-3 ml-2 time-slot-button' mat-raised-button>{{ timeSlot }}</button>
</mat-dialog-content>
