li {
  display: flex;
  align-items: center;
  list-style: none;
}

button {
  display: inline-block;
  width: 95%;
  margin: auto;
}

.submit {
  background-color: rgb(192, 133, 38) !important;
  color: rgb(44, 22, 21) !important;
  opacity: 1 !important;
}

ul {
  margin: auto;
  padding: 0
}

h1, p {
  text-align: center;
}

p {
  font-family: 'Muli', Helvetica, sans-serif;
}

.time-slot-button {
  padding: 0;
}
