<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="onLoginSubmit(f)" class="flex">
      <div class="flex-center">
        <mat-form-field>
          <input
            required
            ngModel
            #userName="ngModel"
            type="text"
            matInput
            placeholder="Username"
            name="name"
          />
        </mat-form-field>
      </div>
      <div class="flex-center mb-3">
        <mat-form-field>
          <input
            required
            ngModel
            type="password"
            matInput
            placeholder="Password"
            #password="ngModel"
            name="password"
          />
        </mat-form-field>
      </div>
      <button mat-button type="submit" class="submit" [disabled]="f.form.invalid">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
