 mat-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

mat-card-content {
  margin-bottom: 35px;
}

::ng-deep mat-form-field {
  width: 80%;
  display: inline-block;
  margin: auto;
}

mat-card-title {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.right {
  width: 20%;
  align-self: flex-end;
}

button.submit {
  width: 80%;
  margin: auto;
  background-color: #e6dbff;
}

.login {
  width: 425px;
  align-content: center;
  justify-content: center;
  filter: drop-shadow(8px 4px 4px #f1e7d8);
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-image: url(../../../assets/wood.jpg);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
