/* .container {
  background-image: url(../../../assets/handyman-background.jpg);
  margin: 0;
  width: 100vw;
} */

.reservations {
  width: 75%;
  margin: auto;
}

:host {
  width: 100%;
  display: block;
}

.container {
  background: url(../../../assets/handyman-background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 2000px;
  overflow: hidden;
}

mat-selection-list {
  width: 100%;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

li {
  font-family: 'Courier New', Courier, monospace, sans-serif !important;
}

h2 {
  text-align: center;
}

h4 {
  color: white;
  text-decoration: solid;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4,
h2 {
  font-family: 'Muli', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100vw;
  }

  mat-card {
    width: 100vw;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100vw;
  }

  mat-card {
    width: 100vw;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100vw;
  }

  mat-card {
    width: 100vw;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100vw;
  }

  mat-card {
    width: 100vw;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    width: 100vw;
  }

  mat-card {
    width: 100%;
  }
}
