<mat-card class="half-opacity reservations">
  <h2 matLine class='mb-5 mt-5'>{{'my reservations' | uppercase }}</h2>
  <div *ngFor="let tool of tools">
    <h4 #h4 *ngIf="hasReservations(tool)" matLine>{{ tool.toolName }}</h4>
    <div
      *ngFor="
        let reso of reservationService.getUserToolResos(
          tool.toolId,
          userService.user.userId
        )
      "
    >
      <ul>
        <li>
          {{ reso.reservationStartTime | date: 'EEEE, MMMM d' }}
          {{ reso.reservationStartTime | date: 'shortTime' }}
           -
          {{ reso.reservationEndTime | date: 'shortTime' }}
          <i
            (click)="reservationService.deleteReso(reso)"
            class="material-icons ml-3"
          >
            delete_outline
          </i>
        </li>
      </ul>
    </div>
  </div>
</mat-card>
