mat-selection-list {
  width: 90%;
  margin: auto;
}

mat-card {
  width: 60%;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

li {
  font-family: 'Courier New', Courier, monospace, sans-serif !important;
}

h2 {
  text-align: center;
}

h4, h2 {
  font-family: 'Muli', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1000px) {
  mat-card {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  mat-card {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  mat-card {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  mat-card {
    width: 100%;
  }
}
