.reservations {
  width: 95%;
  margin: auto;
}

:host {
  width: 100%;
  display: block;
}

.background {
  background: url(../../../assets/handyman-background.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
  width: 100% !important;
}

.container-fluid {
  overflow: hidden;
}

.no-resos {
  height: 100vh;
}

mat-selection-list {
  width: 100%;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

li {
  font-family: 'Courier New', Courier, monospace, sans-serif !important;
}

h2 {
  text-align: center;
  color: rgb(218, 214, 215);
  text-shadow: -0.5px 0 rgb(50, 50, 50), 0 0.5px rgb(50, 50, 50), 0.5px 0 rgb(50, 50, 50), 0 -0.5px rgb(50, 50, 50);
}

h4 {
  color: white;
  text-decoration: solid;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

h4,
h2 {
  font-family: 'Muli', Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 100px) {
  .tableContent {
    width: 95% !important;
    margin: auto;
  }

  .container-fluid {
    background-position: 95% 0%;
  }
}

@media only screen and (min-width: 737px) {
  .tableContent {
    width: 70% !important;
    margin: auto;
  }

  .container-fluid {
    background-position: 0% 95%;
  }
}

@media only screen and (min-width: 753px) and (max-width: 960px) {
  .container-fluid {
    background-position: 50% 0%;
  }
}
@media only screen and (min-width: 1100px) {
  .tableContent {
    width: 53% !important;
    margin: auto;
  }

  .container-fluid {
    background-position: 40% 0%;
  }
}

@media only screen and (min-width: 1320px) {
  .tableContent {
    width: 43% !important;
    margin: auto;
  }
}
