p, h1 {
  text-align: center;
  font-family: 'Muli', Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.submit-add-button {
  background-color: rgb(143, 223, 143);
}

button {
  width: 45%;
}

@media only screen and (max-width: 700px) {
  mat-card {
    width: 100%;
  }
}
