<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-start">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user_home" data-toggle="collapse">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/make_reservation" data-toggle="collapse">Make Reservation</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contact" data-toggle="collapse">Contact</a>
      <a class="nav-item nav-link" routerLinkActive="active" (click)='logout()' data-toggle="collapse">Logout</a>
    </div>
  </div>
</nav>
