<nav
  class="navbar navbar-expand-md navbar-light bg-light justify-content-start"
>
  <img src="../../../assets/log.png" alt="">
  <button
    #toggleBtn
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class='' *ngFor="let navItem of navBarItems">
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          [routerLink]="navItem.path"
          [hidden]="(navItem.auth === 'admin' && !userService.user.isAdmin)"
          >{{ navItem.name | uppercase }}</a
        >
      </div>
      <div class=''>
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          (click)="logout()"
          >{{ 'Logout' | uppercase }}</a
        >
      </div>
    </div>
  </div>
</nav>
