nav {
  background-color: rgb(95, 67, 48) !important;
  background-size: cover;
  border-bottom: 0px;
}

.navbar {
  margin: 0px;
  border-radius: 0px;
}

a {
  white-space: nowrap;
  font-family: 'Muli';
}

.nav-link.active {
  color: white !important;
  text-decoration: underline;
}

a.nav-item.nav-link:hover {
  color: white !important;
}

.navbar a {
  color: white;
}

@media only screen and (min-width: 768px) {
  .plank {
    background-image: url(../../../assets/nav-icon.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 15px;
    width: 150%;
    height: 30px;
    display: flex;
    justify-items: center;
  }
}
